<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/SignalR.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo-admin">
                Ecommerce Admin
            </div>
        </div>
        <div id="banner">
            <ul>
                @if (Context.Session.GetString("Admin") != null)
                {
                    <li><a asp-page="/Account/Login" asp-page-handler="LogOut">SignOut</a></li>
                }
                else
                {
                    <li><a href="~/Account/Login">SignIn</a></li>
                    <li><a href="~/Account/SignUp">SignUp</a></li>
                }
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
